/* variables */
:root {
  /* colors */
  --primary-color: #f44336;
  --primary-color-dark: color(#f44336 shade(12%));
  --primary-color-tint: color(#f44336 tint(70%));
  --secondary-color: #222;
  --secodnary-color-dark: color(#222 shade(12%));
  --secondary-color-tint: color(#222 tint(70%));

  --f9-color: #9f9f9f;
  
  /* width */
  --form-width: 25rem;
}
.bkg-login {
  color: #fff;
  background: #222;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.login-form-block {
  width: var(--form-width);
  margin: 5rem auto 0 auto;
  .row-login-title {
    margin-bottom: 30px;
    h3 {
      font-weight: 400;
    }
    span {
      color: var(--f9-color);
    }
  }
  .row-login-block {
    margin-bottom: 5px;
    label {
      color: var(--f9-color);
    }
  }
  .row-login-forgot {
    margin-top: 15px;
  }
}