body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202B33;
}

.rootLayout {
  background: none;
}

.header-block {
  margin: 5px;
  border-bottom: 1px solid #202b333d;
}

.user-block {
  float: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-block {

  .ant-row.ant-form-item {
    margin-bottom: 10px;
  }
}

.wrapper {
  margin: 0 10px;
  background-color: white;
  margin-bottom: 10px;
  button {
    margin-right: 4px;
  }
}

.card-root-block {
  background-color: white;
  min-height: 550px;
  margin: 10px 10px 10px 60px;
  border-radius: 8px;
}

.left-menu-wrapper {
  margin-top: 10px;
}

.root-menu {
  background: none;
  border: none;
  color: white;

  .ant-menu-item-active, .ant-menu-item-selected {
    background: none !important;
  }
}

.success-button {
  background-color: #1C4017;
  color: #eef3ed;
  &:hover {
    background-color: #265a1f;
    color: #eef3ed;
  }
}

.fleft {
  float: left;
}

.wrapper-tab > .ant-page-header {
  padding: 0;
  margin-bottom: 20px;
}

.dic-select {
  height: 240px;
  overflow: scroll;
}

.item-select-dic:hover {
  cursor: pointer;
  background-color: #1890ff;
  color: white;
}

.tickets-menu {
  width: 170px;
  float: left;
  position: absolute;
}

.wrapper-tickets {
  background-color: white;
  margin-left: 170px;
  float: right;
  padding: 0 10px;
}

.wrapper-main {
  background-color: white;
  margin-bottom: 20px;
}

.ant-page-header-heading-extra {
  margin-top: 10px;
}

.user-name-label {
  padding-right: 10px;
}

.rdt_TableRow {
  &:hover {
    cursor: pointer;
    background-color: #dfdfdf;
  }
}

.issue-head-title {
  span {
    color: #b1b1b1;
  }
}

.issue-header-title {
  color: #b1b1b1;
}

.issue-block-body {
  float: left;
  text-align: justify;
  width: 100%;
  background: #e7e7e754;
  border-radius: 4px;
  padding: 2px 10px;
  min-height: 120px;
}

.issue-block-text {
  border: 1px solid #f0f0f0;
  margin-right: 10px;
  min-height: 100%;
  padding: 0 5px;
}