@import './variables.scss';

.loading-page-block {
  .progress-bar {
    position: fixed;
    width: 100%;
    height: 5px;
  }
  .progress-bar__wrapper {
    position: relative;
    background-color: silver;
    overflow: hidden;
    height: 100%;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    will-change: transform;
  }
  .progress-bar__line {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: red;
  }
  .progress-bar_duration-ltr .progress-bar__line {
    right: 100%;
  }
  .progress-bar_duration-rtl .progress-bar__line {
    left: 100%;
  }
}

body.login_bckg {
  perspective: 800px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Gudea,sans-serif;
  background: #009acc;
  background-image: linear-gradient(-105deg,#009acc,#363795);
}

.login {
  opacity: 1;
  top: 20px;
  
  position: relative;
  width: 400px;
  border-top: 5px solid $blue-color;
  height: 290px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 35px 20px 20px 20px;
  background: #35394a;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a', endColorstr='#1f222e',GradientType=1 );

  .ant-form-item {
    margin-bottom: 8px;
  }

  .notice_login_form {
    position: absolute;
    top: 291px;
    background: $red_color;
    color: white;
    width: 400px;
    margin-left: -20px;
    padding: 5px 21px;
    p {
      margin: 0;
    }
  }
  
  &.ecp_form_login {
    border-top: 5px solid $blue-color;
    height: 310px;
  }
  
  .login_title {
    color: #afb1be;
    height: 60px;
    text-align: left;
    font-size: 16px;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-checkbox {
    span {
      color: white;
    }
  }
  .login-form-button {
    width: 100%;
  }
}

.App {
  .ant-layout-header {
    height: 60px;
    background-color: $footer_color;
  }
  .ant-layout-footer {
    color: #fff;
    background: $footer_color;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 0 10px;
  }
}