$blue-color: #1890ff;
$ligthBlue: #98cdfb;

$head_color: #089BAB;
$head_color10: #ebfdff;
$head_color20: #c7f9ff;
$footer_color: #03555f;
$backgraund_color: rgba($head_color, 0.1);
$footer_color80: rgba($footer_color, 0.79);
$table_header_color: #c5c5c5;

$red_color: #e84444;

$label_color: rgba(95, 95, 95, 0.86);